*{
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #212227;
  font-family: "Bokor", system-ui;
}

.card-wrapper{
  border-radius: 1rem;
  position: relative;
  width: 12.5rem;
  height: 17.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(255,255,255, 0.5) 0px 0px 10px;
}

.card{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  position: absolute;
  transition: all 1s ease-out;
  border: 2px solid white;
}
.card-four{
  background-image: url('viera.jpg');
  background-size: cover;
}
.card-three{
  background-image: url('nazario.jpg');
  background-size: cover;
}
.card-two{
  background-image: url('jude.jpg');
  background-size: cover;
}
.card-one{
  background-image: url('messi.jpg');
  background-size: cover;
}

/*Hover card wrapper*/
.card-wrapper:hover .small-card:nth-child(1){
  top: -100px;
  transform: translateX(-250px) rotate(15deg);
}

.card-wrapper:hover .small-card:nth-child(2){
  top: -100px;
  z-index: -15000;
  transform: translateX(250px) scale(1.4) rotate(-10deg);
}

.card-wrapper:hover .small-card:nth-child(3){
  bottom: -100px;
  z-index: 18000;
  transform: translateX(200px) scale(1.3) rotate(30deg);
}

.card-wrapper:hover .small-card:nth-child(4){
  bottom: -70px;
  z-index: 20000;
  transform: translateX(-200px) scale(1.3);
  
}

.card-wrapper:hover .card:nth-child(8){
  transform:translatex(270px) rotate(45deg) translateY(20px);
}

.card-wrapper:hover .card:nth-child(7){
  transform:translatex(120px) rotate(-5deg);
}

.card-wrapper:hover .card:nth-child(6){
  transform:rotate(-20deg);
}

.card-wrapper:hover .card:nth-child(5){
  transform:translatex(-120px) rotate(-60deg);
}


.small-card{
  border-radius: 5px;
  width: 5rem;
  height: 7rem;
  position: absolute;
  transition: all 1s ease-out;
  transform: translatex(0) rotate(0deg) scale(1)
}

.card1{
  background-image: url(jude.jpg);
  background-size: contain;
  border: 3px solid blue;
}

.card2{
  background-image: url(viera.jpg);
  background-size: contain;
  border: 3px solid greenyellow;
}

.card3{
  background-image: url(nazario.jpg);
  background-size: contain;
  border: 3px solid cyan;
}

.card4{
  background-image: url(messi.jpg);
  background-size: contain;
  border: 3px solid yellow;
}

h1{
  color: #fff;
  font-weight: 400;
  position: absolute;
  top:34%;
  letter-spacing: 3px;
  text-shadow: 2px 2px 2px red;
}